body {
  font-size: 8pt;
  font-family: serif;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.pdfbulletin-header {
  width: 100%;
}

.pdfbulletin {
  font-size: 10pt !important;
  width: 100%;
}

.pdfbulletin-footer {
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

/** two col test **/

.panel-2col { 
/*  overflow: hidden;  */
}

.panel-2col .panel-col-first { 
  float: left; 
  width: 50%; 
}
* html .panel-2col .panel-col-first {
  width: 49.9%;
}

.panel-2col .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col .panel-col-last { 
  float: left; 
  width: 50%; 
}
* html .panel-2col .panel-col-last {
  width: 49.9%;
}

.panel-2col .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}

